@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --card-background: #1E1E1E;
  --primary: #0EA5E9;
  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}